<div class="row">
    <div class="col-md-4">
       <h3> Picture</h3>
    </div>
    
     <div class="col-md-8">
        <h2> Name: <%= @restaurant.name %></h2>
        <h4> Description: <%= @restaurant.description %></h4>
        <h5> Date Visited: <%= @restaurant.lastVisit %></h5>
    </div>
</div>

<div class="row">
    
    <div class="col-md-4">
       <!-- ratings go here -->
       <!-- thi line will output all reviews for a restaurant -->
       <%= render @restaurant.reviews %>
       
       <div>
           <%= link_to "Add Review", new_restaurant_review_path(@restaurant) %>
       </div>
       
    </div>

</div>

<%= link_to "back", root_path %>

<% if user_signed_in? %>

    <% if @restaurant.user_id == current_user.id%>
    
        <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
        <%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>

<% end %>